DDona.WCF.Console/Service References/PersonService/PersonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4376/PersonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4376/PersonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4376/PersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DDona.WCF.Model" />
      <xsd:import schemaLocation="http://localhost:4376/PersonService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DDona.WCF.WService.Custom" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonService_SavePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SavePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByName" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_ExcludePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcludePerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_ExcludePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcludePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetStub_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStub" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetStub_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStubResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonService">
    <wsdl:operation name="SavePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SavePerson" message="tns:IPersonService_SavePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SavePersonResponse" message="tns:IPersonService_SavePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetAll" message="tns:IPersonService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetAllResponse" message="tns:IPersonService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetByName" message="tns:IPersonService_GetByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetByNameResponse" message="tns:IPersonService_GetByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcludePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/ExcludePerson" message="tns:IPersonService_ExcludePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/ExcludePersonResponse" message="tns:IPersonService_ExcludePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStub">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetStub" message="tns:IPersonService_GetStub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetStubResponse" message="tns:IPersonService_GetStub_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonService" type="tns:IPersonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SavePerson">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SavePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByName">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcludePerson">
      <soap:operation soapAction="http://tempuri.org/IPersonService/ExcludePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStub">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetStub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port name="BasicHttpBinding_IPersonService" binding="tns:BasicHttpBinding_IPersonService">
      <soap:address location="http://localhost:4376/PersonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>