DDona.WCF.Console/Service References/PersonService/PersonService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DDona.WCF.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DDona.WCF.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ArrayOfPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson" />
</xs:schema>